# Python cache
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/

# Offline Dictionaries
src/dictionaries/
dictionaries/
default_zips/

# Ignore test pics
*.png

src/dictionary.db
dictionary.db
*.db